*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


body{

    font-family:Arial, sans-serif;

    background:
    linear-gradient(
        135deg,
        #ff8cc6,
        #ffc4df,
        #ffe8f2
    );

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

    padding:30px;

}



/* CARD */


.card{

    width:min(95vw,1200px);

    background:#fffdf8;

    border-radius:35px;

    padding:55px;

    text-align:center;

    position:relative;

    z-index:5;

    border:5px solid white;

    box-shadow:
    0 25px 60px rgba(0,0,0,.2);

}



.card::before{

    content:"";

    position:absolute;

    inset:15px;

    border:3px dashed #ffc1dc;

    border-radius:25px;

}



.tape{

    position:absolute;

    top:-18px;

    left:50%;

    width:130px;

    height:35px;

    background:#ffd1e5;

    transform:translateX(-50%) rotate(-5deg);

}



h1{

    color:#ff2f92;

    font-size:3rem;

}


#subtitle{

    margin:30px auto;

    max-width:750px;

    color:#555;

    line-height:1.8;

    font-size:1.2rem;

}



button{

    background:#ff2f92;

    color:white;

    border:none;

    padding:20px 55px;

    border-radius:50px;

    font-size:1.2rem;

    font-weight:bold;

    cursor:pointer;

}



.hidden{

    display:none;

}


video{

    width:100%;

    max-height:75vh;

    border-radius:20px;

    background:black;

}



/* FULLSCREEN LOOK */


.card.watching{

    width:100vw;

    height:100vh;

    background:black;

    border:none;

    border-radius:0;

    padding:0;

    display:flex;

    justify-content:center;

    align-items:center;

}



.card.watching h1,
.card.watching #subtitle,
.card.watching button,
.card.watching .signature,
.card.watching .tape{

    display:none;

}



.card.watching video{

    width:100vw;

    height:100vh;

    max-height:none;

    object-fit:contain;

    border-radius:0;

}



/* STICKERS */


.sticker{

    position:fixed;

    z-index:2;

    font-size:55px;

    pointer-events:none;

    animation:float 4s infinite ease-in-out;

}


.sticker1{
    top:10%;
    left:5%;
}


.sticker2{
    top:15%;
    right:5%;
}


.sticker3{
    left:5%;
    top:45%;
}


.sticker4{
    right:8%;
    bottom:15%;
}


.sticker5{
    left:10%;
    bottom:10%;
}


.sticker6{
    right:4%;
    top:50%;
}



@keyframes float{

    50%{

        transform:translateY(-12px);

    }

}



/* HEARTS */


.hearts::before{

    content:"💖 ✨ 💕 🌴 💗 ✨ 💖";

    position:fixed;

    top:-50px;

    width:100%;

    text-align:center;

    font-size:45px;

    opacity:.5;

    animation:fall 12s linear infinite;

}



@keyframes fall{

    to{

        transform:translateY(120vh);

    }

}



/* MOBILE */


@media(max-width:800px){

    .card{

        padding:35px 25px;

    }


    h1{

        font-size:2rem;

    }


    .sticker{

        display:none;

    }

}
